<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Delete_on_Reboot.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Delete_on_Reboot.My.MySettings>
            <setting name="fileNameColumnSize" serializeAs="String">
                <value>285</value>
            </setting>
            <setting name="renamedToColumnSize" serializeAs="String">
                <value>221</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>808, 389</value>
            </setting>
        </Delete_on_Reboot.My.MySettings>
    </userSettings>
</configuration>
